@duration: 10s;


body {
	background-color: #263238;
	}
    
    .icon-wrapper {
        position: absolute;
        text-align: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.3);
        top: 50%;
        margin-top: -50px;
        left: 50%;
        margin-left: -50px;
        animation: slide-in-bottom @duration ease-in,  heatbump (@duration / 5) ease-out infinite  ;
        &:before {
            content: ' ';
            width: 34%;
            height: 34%;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 100%;
            position: absolute;
            top: -5%;
            left: -5%;
            animation: late-fade @duration linear, circulate-clockwise (@duration / 10) linear infinite;
        }

        .cloud {
            fill: #FFF;
            
        }
        div.icon {
            position: absolute;
          //  background-color:#FFF;
            top: 50%;
            width: 100%;
            height:28px;
            text-align: center;
            margin-top: -8px;
            animation: spin-clockwise (@duration / 5) ease-out infinite;
        }
    }



/* Icons */






/* Animations */


@keyframes slide-in-bottom {
    0% {
        top: 120%;
    }
    10% {
        top: 120%;
    }
    15% {
        top: 50%;
    }
    75% {
        top: 50%;
    }
    80% {
        top: 50%;
    }
    100% {
        top: 50%;
    }
}



@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes heatbump {
    0% {
        opacity: 0.5;
    }
    
    50% {
        opacity: 1;
    }
    
   
    100% {
        opacity: .5;
    }
}
@keyframes late-fade {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circulate-clockwise {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10%, 10%);
    }
    50% {
        transform: translate(0%, 20%);
    }
    75% {
        transform: translate(-10%, 10%);
    }
}


@keyframes spin-clockwise {
    0% {
        transform: rotate(0deg);
    }
   
    50% {
        transform: rotate(180deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
}