// out: true, compress: false, sourceMap: false
.l-d-l-con {
    //background-color: #645cc1!important; 
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 //   height: 500px;
  //  width: 500px;
   // margin: auto;
  //  background-color: #00ff88;
    .spinner {
        // width: 100px;
        // height: 50px;
        height: 3.5rem;
        width: 9rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        .ball {
            width: 1.25rem;
            height: 1.25rem;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        }
        div {
            color: rgba(255, 255, 255, 0.8);
            margin-top: 10px;
            font-family: sans-serif;
            letter-spacing: 0.2rem;
            font-size: 0.725rem;
        }
    }
}

@keyframes motion {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    25% {
        transform: translateX(-50px) scale(0.6);
        opacity: 0.2;
    }
    50% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    75% {
        transform: translateX(50px) scale(0.6);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}