body {
  text-align: center;
}
body .spinner {
  position: absolute;
  height: 3.5rem;
  width: 9rem;
  top: 1rem;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
body .spinner .ball {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
body .spinner div {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.725rem;
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateX(-50px) scale(0.4);
    opacity: 0.2;
  }
  50% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  75% {
    transform: translateX(50px) scale(0.4);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
