.l-d-l-con {
  position: relative;
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}
.l-d-l-con .spinner {
  height: 3.5rem;
  width: 9rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
.l-d-l-con .spinner .ball {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.l-d-l-con .spinner div {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.725rem;
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateX(-50px) scale(0.6);
    opacity: 0.2;
  }
  50% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  75% {
    transform: translateX(50px) scale(0.6);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
