@squareSize: 4rem;
@sqyareGap: 0rem;
.cssload-cube,
.cssload-half1,
.cssload-half2,
.cssload-container {
    transform-style: preserve-3d;
}

.cssload-container {
    position: fixed;
    width: @squareSize*5+@sqyareGap*6;
    height: @squareSize*5+@sqyareGap*6;
    top: 50%;
    left: 50%;
    margin: -(@squareSize*5+@sqyareGap*6)/2 0 0 -(@squareSize*5+@sqyareGap*6)/2;
    perspective: @squareSize*12+@sqyareGap*6;
    -o-perspective: @squareSize*12+@sqyareGap*6;;
		-ms-perspective: @squareSize*12+@sqyareGap*6;;
		-webkit-perspective:@squareSize*12+@sqyareGap*6;;
		-moz-perspective: 292px;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
    .cssload-cube {
        box-sizing: border-box;
        font-family: 'open sans condensed';
        text-align: center;
        color:#FFF;
        font-weight: 800;
        width: @squareSize*5+@sqyareGap*6;
        height: @squareSize*5+@sqyareGap*6;
        transform-style: preserve-3d;
        animation: cube2 11.5s forwards infinite;
        transform-origin: center center  0;
        .cssload-side {
            width: @squareSize;
            height: @squareSize;
            position: absolute;
            line-height: @squareSize;
        }
        .cssload-half1 {
            height: (@squareSize*2+@sqyareGap);
            top: 0;
            position: absolute;
            animation: half-fold 11.5s forwards infinite;
            transform-origin: 50% 100%;
            .cssload-s1 {
                top: 0;
                left: (@squareSize*2+@sqyareGap*2);
                background-color: @face1Color;
                transform-origin: 50% 100%;
                animation: s1ani 11.5s forwards infinite;
            }
            .cssload-s2 {
                top: (@squareSize+@sqyareGap);
                left: (@squareSize*2+@sqyareGap*2);
                transform-origin: 50% 0%;
                animation: s2ani 11.5s forwards infinite;
            }
            .cssload-s3 {
                left: (@squareSize+@sqyareGap);
                top: (@squareSize+@sqyareGap);
                transform-origin: 100% 50%;
                animation: s3ani 11.5s forwards infinite;
            }
        }
        .cssload-half2 {
            .cssload-s4 {
                top: (@squareSize*2+@sqyareGap*2);
                left: (@squareSize*2+@sqyareGap*2);
                transform-origin: 50% 0%;
               animation: s4ani 11.5s forwards infinite;
            }
            .cssload-s5 {
                top: (@squareSize*3+@sqyareGap*3);
                left: (@squareSize*2+@sqyareGap*2);
                transform-origin: 50% 0%;
              animation: s5ani 11.5s forwards infinite;
            }
            .cssload-s6 {
                left: (@squareSize*3+@sqyareGap*3);
                top: (@squareSize*2+@sqyareGap*2);
                transform-origin: 0% 50%;
               animation: s6ani 11.5s forwards infinite;
            }
        }
    }
}
@keyframes cube2 {
	0% {
		transform: rotateX(0deg);
	}
	30% {
		transform: rotateX(0deg);
	}
	40% {
		transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
		/* CUBE ROTATES BACK */
	}
	60% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		/* ARMS FOLD UP */
	}
	65% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
		/* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
	}
	70% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
	}
	75% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
		/* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
	}
	80% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
	}
	90% {
		transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
		/* FADE TO BLACK */
	}
}
@keyframes cube {
    0% {
        transform: rotateX(0deg);
    }
    30% {
        transform: rotateX(0deg);
    }
    40% {
        transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
        /* CUBE ROTATES BACK */
    }
    60% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
        /* ARMS FOLD UP */
    }
    65% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
        /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
    }
    70% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
    }
    75% {
     transform: rotateX(60deg) rotateY(0deg) rotateZ(405deg);
        /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
    }
    80% {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
    }
    90% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        /* FADE TO BLACK */
    }
}
@face1Color:#35bdff;
@face2Color:#35bdff;
@face2Color-darker: darken(@face2Color, 20%);
@face3Color:#35bdff;
@face3Color-darker: darken(@face3Color, 20%);
@face4Color:#35bdff;;
@face4Color-darker: darken(@face4Color, 10%);
@face5Color:#35bdff;

@face5Color-darker: darken(@face5Color, 20%);
@face6Color:#35bdff;
@face6Color-darker: darken(@face6Color, 10%);
@keyframes s1ani {
    0% {
        opacity: 1;
        transform: translateY(0px);
        background: @face1Color;
    }
    40% {
        transform: rotateX(0deg);
        background:@face1Color;
    }
    50% {
        transform: rotateX(-90deg);
        background: @face1Color;
    }
    90% {
        transform: rotateX(-90deg);
        background: @face1Color;
    }
} 
 
@keyframes s2ani {
    0% {
        opacity: 0;
        transform: rotateX(-179deg);
    }
    10% {
        opacity: 1;
        transform: rotateX(0deg);
         background: @face2Color;
    }
    40% {
        background: @face2Color;
    }
    45% {
        background: darken(@face2Color, 10%);
    }
    65% {
        opacity: 1;
        background: darken(@face2Color, 10%);
        /* DARKEST VISIBLE */
    }
    80% {
        background: darken(@face2Color, 10%);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes s3ani {
    0% {
        opacity: 0;
        transform: rotateY(-179deg);
    }
    10% {
        opacity: 0;
        transform: rotateY(-179deg);
    }
    20% {
        opacity: 1;
        background: @face3Color;
        transform: rotateY(0deg);
    }
    40% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    55% {
        background:  @face3Color;
    }
    60% {
        background:  @face3Color-darker;
    }
    90% {
        background:  @face3Color-darker;
        transform: rotateY(90deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes s4ani {
    0% {
        opacity: 0;
        transform: rotateX(-179deg);
    }
    10% {
        opacity: 0;
        transform: rotateX(-179deg);
    }
    20% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    40% {
        background: @face4Color;
    }
    45% {
        background: @face4Color-darker;
        /* DARKEST VISIBLE */
    }
    90% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    100% {
        opacity: 0;
    }
}

@keyframes s5ani {
    0% {
        opacity: 0;
        transform: rotateX(-179deg);
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: rotateX(-179deg);
    }
    30% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    40% {
        transform: rotateX(0deg);
        background: @face5Color;
    }
    50% {
        transform: rotateX(90deg);
        background:@face5Color-darker;
    }
    80% {
        background:@face5Color-darker;
    }
    90% {
        opacity: 1;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 0;
    }
}

@keyframes s6ani {
    0% {
        opacity: 0;
        transform: rotateY(179deg);
    }
    20% {
        opacity: 0;
        transform: rotateY(179deg);
    }
    30% {
        opacity: 1;
        transform: rotateY(0deg);
    }
    40% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-90deg);
        background: @face6Color;
    }
    60% {
        background:@face6Color-darker;
    }
    80% {
        background: @face6Color-darker;
    }
    90% {
        opacity: 1;
        transform: rotateY(-90deg);
    }
    100% {
        opacity: 0;
    }
}

@keyframes half-fold {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    60% {
        transform: rotateX(-90deg);
    }
    90% {
        transform: rotateX(-90deg);
    }
}