.cssload-cube,
.cssload-half1,
.cssload-half2,
.cssload-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.cssload-container {
  position: fixed;
  width: 20rem;
  height: 20rem;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;
  perspective: 48rem;
  -o-perspective: 48rem;
  -ms-perspective: 48rem;
  -webkit-perspective: 48rem;
  -moz-perspective: 292px;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.cssload-container .cssload-cube {
  box-sizing: border-box;
  font-family: 'open sans condensed';
  text-align: center;
  color: #FFF;
  font-weight: 800;
  width: 20rem;
  height: 20rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: cube2 11.5s forwards infinite;
          animation: cube2 11.5s forwards infinite;
  -webkit-transform-origin: center center  0;
      -ms-transform-origin: center center  0;
          transform-origin: center center  0;
}
.cssload-container .cssload-cube .cssload-side {
  width: 4rem;
  height: 4rem;
  position: absolute;
  line-height: 4rem;
}
.cssload-container .cssload-cube .cssload-half1 {
  height: 8rem;
  top: 0;
  position: absolute;
  -webkit-animation: half-fold 11.5s forwards infinite;
          animation: half-fold 11.5s forwards infinite;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.cssload-container .cssload-cube .cssload-half1 .cssload-s1 {
  top: 0;
  left: 8rem;
  background-color: #35bdff;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: s1ani 11.5s forwards infinite;
          animation: s1ani 11.5s forwards infinite;
}
.cssload-container .cssload-cube .cssload-half1 .cssload-s2 {
  top: 4rem;
  left: 8rem;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: s2ani 11.5s forwards infinite;
          animation: s2ani 11.5s forwards infinite;
}
.cssload-container .cssload-cube .cssload-half1 .cssload-s3 {
  left: 4rem;
  top: 4rem;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: s3ani 11.5s forwards infinite;
          animation: s3ani 11.5s forwards infinite;
}
.cssload-container .cssload-cube .cssload-half2 .cssload-s4 {
  top: 8rem;
  left: 8rem;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: s4ani 11.5s forwards infinite;
          animation: s4ani 11.5s forwards infinite;
}
.cssload-container .cssload-cube .cssload-half2 .cssload-s5 {
  top: 12rem;
  left: 8rem;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: s5ani 11.5s forwards infinite;
          animation: s5ani 11.5s forwards infinite;
}
.cssload-container .cssload-cube .cssload-half2 .cssload-s6 {
  left: 12rem;
  top: 8rem;
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: s6ani 11.5s forwards infinite;
          animation: s6ani 11.5s forwards infinite;
}
@-webkit-keyframes cube2 {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  30% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg)
    /* CUBE ROTATES BACK */
  }
  60% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)
    /* ARMS FOLD UP */
  }
  65% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(180deg)
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(360deg)
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotate(0deg) rotateZ(0deg)
    /* FADE TO BLACK */
  }
}
@keyframes cube2 {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  30% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg)
    /* CUBE ROTATES BACK */
  }
  60% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)
    /* ARMS FOLD UP */
  }
  65% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(180deg)
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(360deg)
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
            transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotate(0deg) rotateZ(0deg)
    /* FADE TO BLACK */
  }
}
@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  30% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg)
    /* CUBE ROTATES BACK */
  }
  60% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)
    /* ARMS FOLD UP */
  }
  65% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg)
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
  }
  75% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(405deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(405deg)
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    /* FADE TO BLACK */
  }
}
@keyframes cube {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  30% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg)
    /* CUBE ROTATES BACK */
  }
  60% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)
    /* ARMS FOLD UP */
  }
  65% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg)
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(215deg);
  }
  75% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(405deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(405deg)
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
            transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    /* FADE TO BLACK */
  }
}
@-webkit-keyframes s1ani {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: #35bdff;
  }
  40% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #35bdff;
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background: #35bdff;
  }
  90% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background: #35bdff;
  }
}
@keyframes s1ani {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: #35bdff;
  }
  40% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #35bdff;
  }
  50% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background: #35bdff;
  }
  90% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background: #35bdff;
  }
}
@-webkit-keyframes s2ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #35bdff;
  }
  40% {
    background: #35bdff;
  }
  45% {
    background: #02acff;
  }
  65% {
    opacity: 1;
    background: #02acff
    /* DARKEST VISIBLE */
  }
  80% {
    background: #02acff;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes s2ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #35bdff;
  }
  40% {
    background: #35bdff;
  }
  45% {
    background: #02acff;
  }
  65% {
    opacity: 1;
    background: #02acff
    /* DARKEST VISIBLE */
  }
  80% {
    background: #02acff;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s3ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    background: #35bdff;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  55% {
    background: #35bdff;
  }
  60% {
    background: #008bce;
  }
  90% {
    background: #008bce;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes s3ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    background: #35bdff;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  55% {
    background: #35bdff;
  }
  60% {
    background: #008bce;
  }
  90% {
    background: #008bce;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s4ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    background: #35bdff;
  }
  45% {
    background: #02acff
    /* DARKEST VISIBLE */
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes s4ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    background: #35bdff;
  }
  45% {
    background: #02acff
    /* DARKEST VISIBLE */
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s5ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #35bdff;
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    background: #008bce;
  }
  80% {
    background: #008bce;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes s5ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateX(-179deg);
            transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  40% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #35bdff;
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    background: #008bce;
  }
  80% {
    background: #008bce;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes s6ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    background: #35bdff;
  }
  60% {
    background: #02acff;
  }
  80% {
    background: #02acff;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes s6ani {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }
  20% {
    opacity: 0;
    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    background: #35bdff;
  }
  60% {
    background: #02acff;
  }
  80% {
    background: #02acff;
  }
  90% {
    opacity: 1;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes half-fold {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  90% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}
@keyframes half-fold {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  90% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}
